.Client {
    input {
        border: 2px solid #ffffff;
        border-radius: 20px;
        background-color: transparent;
        text-align: center;
        color: #73829a;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: 1rem 50%;
        width: 30%;
        height: 35px;
    }
}