$base-bgcolor: #22272e;
$base-color: #97a2b4;
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;
$input-placeholder-color: #97a2b4;

.Secratery {
  background-color: $base-bgcolor;
  color: $base-color;
  font: $base-font-family;
  margin: 0;
  // min-height: 100%;

  button {
    background-image: linear-gradient(160deg, #7fedb6 0%, #378f7b 100%);
    color: #fff;
    margin-bottom: 6rem;
    width: 40%;
    border-radius: 17px;
    padding: 5px;
  }

  div input {
    border: 0;
    font: inherit;
  }

  * {
    box-sizing: border-box;
  }

  .form__field input {
    &::placeholder {
      color: $input-placeholder-color;
    }
  }

  html {
    height: 100%;
  }

  .align {
    align-items: center;
    display: flex;
    flex-direction: row;

    &__item {

      &--start {
        align-self: flex-start;
      }

      &--end {
        align-self: flex-end;
      }

    }

  }

  .site {

    &__main {}

    &__logo {
      margin-bottom: 1rem;
    }

  }

  .form {

    &__field {
      margin-bottom: 1rem;
    }

    input {
      outline: 0;
      padding: .5rem 1rem;
    }

  }

  $grid-max-width: 25rem;
  $grid-width: 100%;

  .grid {
    margin: 0 auto;
    max-width: $grid-max-width;
    width: $grid-width;
  }

  h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }

  svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  $link-color: #7e8ba3;

  a {
    color: $link-color
  }

  .register {
    box-shadow: 0 0 250px #000;
    text-align: center;
    padding: 4rem 2rem;

    input {
      border: 1px solid #8c98aa;
      border-radius: 999px;
      background-color: transparent;
      // text-align: center;
      color: #73829a;
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: 1rem 50%;

    }
  }
}